.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5em;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 5em 10em;
    background-color: #D9DFE9;
    box-shadow: 1px 4px 12px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats div {
    padding: 1em 4em;
}

input {
    border: none;
    border-bottom: 1px solid #3C312E;
    background-color: #D9DFE9;
    transition: background-color 0.3s ease-in;
    font-family: 'Eczar', serif;
}

input:focus {
    outline: none;
    background-color: #c9ced8;
}

.used-row {
    display: flex;
}

.entered-alphabet {
    animation-name: bounceUp;
    animation-duration: 0.8s;
    animation-direction: normal;
}

@keyframes bounceUp {
    50% {transform: translateY(-1em);}
}

button {
    font-family: 'Eczar', serif;
    font-size: 1rem;
    color: #3C312E;
    padding: 0.5em;
    background-color: rgb(245, 245, 240);
    border: 1px outset gray;
    border-radius: 8%;
    transition: background-color 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 220);
}
